
/* All site */
h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
}

a, link {
    color: green;
}

.container {
    margin: auto;
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

/* Navigation bar */
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: auto;
}
.nav-link-item {
    padding-right: 2rem;
}
.nav-link-text {
    color: green;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}
.nav-link-item :hover {
    color: white;
    background-color: green;
}

/* center */
.center {
    margin: auto;
    padding: 10px;
}
